# Name Variations for last names

## First trying with llama 30B
Taking too much time (~9 mins) to do inference on 60GB Memory with 10 core CPU

In [2]:
from llama_cpp import Llama

In [3]:
llm = Llama(model_path="/home/distill1994/workspace/llama.cpp/models/30B/ggml-model-q4_0.bin")
output = llm("Q: give me 5 most common alternate spellings of the last name garcia? A: ", max_tokens=100, stop=["Q:", "\n"], echo=True)
print(output)

llama.cpp: loading model from /home/distill1994/workspace/llama.cpp/models/30B/ggml-model-q4_0.bin
llama_model_load_internal: format     = ggjt v3 (latest)
llama_model_load_internal: n_vocab    = 32000
llama_model_load_internal: n_ctx      = 512
llama_model_load_internal: n_embd     = 6656
llama_model_load_internal: n_mult     = 256
llama_model_load_internal: n_head     = 52
llama_model_load_internal: n_layer    = 60
llama_model_load_internal: n_rot      = 128
llama_model_load_internal: ftype      = 2 (mostly Q4_0)
llama_model_load_internal: n_ff       = 17920
llama_model_load_internal: n_parts    = 1
llama_model_load_internal: model size = 30B
llama_model_load_internal: ggml ctx size =    0.13 MB
llama_model_load_internal: mem required  = 19756.66 MB (+ 3124.00 MB per state)
.
llama_init_from_file: kv self size  =  780.00 MB
AVX = 1 | AVX2 = 1 | AVX512 = 0 | AVX512_VBMI = 0 | AVX512_VNNI = 0 | FMA = 1 | NEON = 0 | ARM_FMA = 0 | F16C = 1 | FP16_VA = 0 | WASM_SIMD = 0 | BLAS = 0 | SSE3 = 1 | VSX = 0 |

{'id': 'cmpl-4d2ff605-6fe2-4f8a-ac6a-0ee99d415524', 'object': 'text_completion', 'created': 1686511129, 'model': '/home/distill1994/workspace/llama.cpp/models/30B/ggml-model-q4_0.bin', 'choices': [{'text': 'Q: give me 5 most common alternate spellings of the last name garcia? A: 1. Garza 2. Garza 3. Garci 4. Garz 5. Garcillano', 'index': 0, 'logprobs': None, 'finish_reason': 'stop'}], 'usage': {'prompt_tokens': 22, 'completion_tokens': 26, 'total_tokens': 48}}

llama_print_timings:        load time = 552232.75 ms
llama_print_timings:      sample time =    40.46 ms /    26 runs   (    1.56 ms per token)
llama_print_timings: prompt eval time = 552228.07 ms /    22 tokens (25101.28 ms per token)
llama_print_timings:        eval time = 495115.02 ms /    25 runs   (19804.60 ms per token)
llama_print_timings:       total time = 1047753.49 ms

## Next trying with llama 65B
Taking too much time to do inference on 60GB Memory with 10 core CPU

In [ ]:
llm = Llama(model_path="/home/distill1994/workspace/llama.cpp/models/65B/ggml-model-q4_0.bin")
output1 = llm("Q: give me 5 most common alternate spellings of the last name garcia? A: ", max_tokens=32, stop=["Q:", "\n"], echo=True)
print(output1)

llama.cpp: loading model from /home/distill1994/workspace/llama.cpp/models/65B/ggml-model-q4_0.bin
llama_model_load_internal: format     = ggjt v3 (latest)
llama_model_load_internal: n_vocab    = 32000
llama_model_load_internal: n_ctx      = 512
llama_model_load_internal: n_embd     = 8192
llama_model_load_internal: n_mult     = 256
llama_model_load_internal: n_head     = 64
llama_model_load_internal: n_layer    = 80
llama_model_load_internal: n_rot      = 128
llama_model_load_internal: ftype      = 2 (mostly Q4_0)
llama_model_load_internal: n_ff       = 22016
llama_model_load_internal: n_parts    = 1
llama_model_load_internal: model size = 65B
llama_model_load_internal: ggml ctx size =    0.18 MB
llama_model_load_internal: mem required  = 38610.46 MB (+ 5120.00 MB per state)
.
llama_init_from_file: kv self size  = 1280.00 MB
AVX = 1 | AVX2 = 1 | AVX512 = 0 | AVX512_VBMI = 0 | AVX512_VNNI = 0 | FMA = 1 | NEON = 0 | ARM_FMA = 0 | F16C = 1 | FP16_VA = 0 | WASM_SIMD = 0 | BLAS = 0 | SSE3 = 1 | VSX = 0 |

{'id': 'cmpl-67063bfc-b735-4bd4-ba39-2621ba60d599', 'object': 'text_completion', 'created': 1686513951, 'model': '/home/distill1994/workspace/llama.cpp/models/65B/ggml-model-q4_0.bin', 'choices': [{'text': 'Q: give me 5 most common alternate spellings of the last name garcia? A: 1. GARCIA, 2. GARCÍA, 3. GARSÍA, 4. GARCEI', 'index': 0, 'logprobs': None, 'finish_reason': 'length'}], 'usage': {'prompt_tokens': 22, 'completion_tokens': 32, 'total_tokens': 54}}

llama_print_timings:        load time = 93866.74 ms
llama_print_timings:      sample time =    33.38 ms /    32 runs   (    1.04 ms per token)
llama_print_timings: prompt eval time = 93865.56 ms /    22 tokens ( 4266.62 ms per token)
llama_print_timings:        eval time = 203079.49 ms /    31 runs   ( 6550.95 ms per token)
llama_print_timings:       total time = 297587.78 ms

In [15]:
%%time 

output1 = llm("Q: give me 5 most common alternate spellings of the last name garcia? A: ", max_tokens=500, stop=["Q:", "\n"], echo=True)
print(output1)

Llama.generate: prefix-match hit

{'id': 'cmpl-8c85ea5e-20d5-4a02-9944-7e0076d33564', 'object': 'text_completion', 'created': 1686521841, 'model': '/home/distill1994/workspace/llama.cpp/models/65B/ggml-model-q4_0.bin', 'choices': [{'text': 'Q: give me 5 most common alternate spellings of the last name garcia? A: 1. Garcea, Garaea, Gercia, Garcae, 2. Garzia, Garia, Giazria, Garziq 3. Gerza , Geraz, Gazer, Gezer 4. Garrica, Georica, Gorica, Grrica . 5. Gaarcia, Gaacia, Gaaria, Gaarja, Gaaroa', 'index': 0, 'logprobs': None, 'finish_reason': 'stop'}], 'usage': {'prompt_tokens': 22, 'completion_tokens': 86, 'total_tokens': 108}}
CPU times: user 42min 43s, sys: 0 ns, total: 42min 43s
Wall time: 8min 42s

llama_print_timings:        load time = 93866.74 ms
llama_print_timings:      sample time =   148.68 ms /    86 runs   (    1.73 ms per token)
llama_print_timings: prompt eval time =     0.00 ms /     1 tokens (    0.00 ms per token)
llama_print_timings:        eval time = 517429.33 ms /    86 runs   ( 6016.62 ms per token)
llama_print_timings:       total time = 522653.79 ms

## Hugging Face llama models require endpoints to be created due to size

In [8]:
import requests

API_TOKEN = "token"

API_URL = "https://api-inference.huggingface.co/models/huggyllama/llama-65b"
headers = {"Authorization": f"Bearer {API_TOKEN}"}

def query(payload):
	response = requests.post(API_URL, headers=headers, json=payload)
	return response.json()
	
output = query({
	"inputs": "Can you please let us know more details about your ",
})

print(output)

{'error': 'The model huggyllama/llama-65b is too large to be loaded automatically (130GB > 10GB). For commercial use please use PRO spaces (https://huggingface.co/spaces) or Inference Endpoints (https://huggingface.co/inference-endpoints).'}

## Tried HF model 30B Lazarus
https://huggingface.co/CalderaAI/30B-Lazarus - but results are not as expected

In [12]:
%%bash

curl https://lakn0qwfmmct4iqv.us-east-1.aws.endpoints.huggingface.cloud \
-X POST \
-d '{"inputs":"give me 10 most common alternate spellings of the last name garcia"}' \
-H "Authorization: Bearer token" \
-H "Content-Type: application/json"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   144    0    65  100    79     18     22  0:00:03  0:00:03 --:--:--    41

[{"generated_text":"\n1. Garza\n2. Garza\n3. Garcia\n4. Garcia"}]

In [10]:
output

{'error': 'The model CalderaAI/30B-Lazarus is too large to be loaded automatically (65GB > 10GB). For commercial use please use PRO spaces (https://huggingface.co/spaces) or Inference Endpoints (https://huggingface.co/inference-endpoints).'}

## Get the top lastnames based on frequency

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data/fl_2022_LastName_train.csv.gz")

In [7]:
df.head()

,name_last,asian,hispanic,nh_black,nh_white,other,total_n,race,race_code
0,Neaman-Piotrowicz,0.0,0.0,0.0,1.000000,0.000000,1.0,nh_white,3
1,Chaet,0.0,0.0,0.0,1.000000,0.000000,13.0,nh_white,3
2,Veloz Perez,0.0,1.0,0.0,0.000000,0.000000,1.0,hispanic,1
3,Spalter,0.0,0.0,0.0,0.928571,0.071429,42.0,nh_white,3
4,Kearns-Edwards,0.0,0.0,0.0,1.000000,0.000000,1.0,nh_white,3

In [12]:
df[df['total_n'] > 50]

,name_last,asian,hispanic,nh_black,nh_white,other,total_n,race,race_code
11,Donald,0.004862,0.016207,0.515397,0.421394,0.042139,617.0,nh_black,2
69,Kiddy,0.037037,0.000000,0.000000,0.944444,0.018519,54.0,nh_white,3
76,Sleiman,0.000000,0.236364,0.000000,0.727273,0.036364,55.0,nh_white,3
228,Zylstra,0.000000,0.012821,0.012821,0.974359,0.000000,78.0,nh_white,3
232,Grogg,0.000000,0.014706,0.000000,0.955882,0.029412,68.0,nh_white,3
...,...,...,...,...,...,...,...,...,...
845131,Gal,0.000000,0.088889,0.000000,0.855556,0.055556,90.0,nh_white,3
845169,Valmyr,0.000000,0.000000,0.958333,0.027778,0.013889,72.0,nh_black,2
845282,Ocallaghan,0.017241,0.017241,0.000000,0.948276,0.017241,58.0,nh_white,3
845305,Kimbler,0.000000,0.000000,0.000000,0.984615,0.015385,65.0,nh_white,3
845310,Graeber,0.000000,0.078431,0.039216,0.882353,0.000000,51.0,nh_white,3

In [13]:
last_name_values = df[df['total_n'] > 50]['name_last'].values

In [14]:
type(last_name_values)

numpy.ndarray

In [15]:
import numpy

numpy.savetxt("last_names.csv", last_name_values, fmt='%s', delimiter=",")

## Trying to generate randomly

In [88]:
import random

def generate_similar_spellings(last_name):
    similar_spellings = set()
    similar_spellings.add(last_name)
    vowels = set('aeiou')
    consonants = set('bcdfghjklmnpqrstvwxyz')
    # iterate through each character in the last name except the first letter
    for i in range(1, len(last_name)):
        # check if the character is a vowel or a consonant
        if last_name[i] in vowels:
            # replace the vowel with a random vowel
            for v in vowels:
                if v != last_name[i]:
                    similar_spellings.add(last_name[:i] + v + last_name[i+1:])
        else:
            # replace the consonant with a random consonant
            for c in consonants:
                if c != last_name[i]:
                    similar_spellings.add(last_name[:i] + c + last_name[i+1:])
            # add an extra consonant after the current consonant
            similar_spellings.add(last_name[:i+1] + random.choice(list(consonants)) + last_name[i+1:])
    # return the set of similar spellings with the first letter always the same
    return set([last_name[0] + spelling[1:] for spelling in similar_spellings])

# example usage
last_name = 'garcia'
similar_spellings = generate_similar_spellings(last_name)
print(similar_spellings)

{'garbia', 'garhia', 'gartia', 'gercia', 'garmia', 'garpcia', 'gascia', 'garzia', 'gorcia', 'garjia', 'garcii', 'garcie', 'gagcia', 'gavcia', 'gabcia', 'garcaa', 'gakcia', 'garpia', 'garlia', 'gawcia', 'gapcia', 'garqia', 'gazcia', 'gurcia', 'gadcia', 'garcia', 'gaycia', 'garwia', 'garxia', 'gancia', 'gardia', 'gircia', 'garfia', 'garsia', 'garcea', 'garcwia', 'gajcia', 'garyia', 'garcoa', 'garciu', 'garvia', 'gaccia', 'gafcia', 'gamcia', 'garcua', 'garnia', 'gaqcia', 'garcio', 'garkia', 'gahcia', 'gargia', 'galcia', 'garria', 'gaxcia', 'gatcia'}

Results are not as expected.

## Using Open AI chatgpt 3.5 turbo

In [52]:
pip install openai

Defaulting to user installation because normal site-packages is not writeable
Collecting openai
  Downloading openai-0.27.8-py3-none-any.whl (73 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.6/73.6 KB 3.2 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.29.0)
Requirement already satisfied: tqdm in /home/distill1994/.local/lib/python3.10/site-packages (from openai) (4.65.0)
Collecting aiohttp
  Using cached aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.15)
Collecting async-timeout<5.0,>=4.0.0a3
  Using cached async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting multidict<7.0,>=4.5
  Using cached multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
Collecting aiosignal>=1.1.2
  Using cached aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Collecting yarl<2.0,>=1.0
  Using cached yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
Collecting frozenlist>=1.1.1
  Using cached frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
  WARNING: The script openai is installed in '/home/distill1994/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.8 yarl-1.9.2
Note: you may need to restart the kernel to use updated packages.

In [53]:
%pip install openai

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openai in /home/distill1994/.local/lib/python3.10/site-packages (0.27.8)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.29.0)
Requirement already satisfied: aiohttp in /home/distill1994/.local/lib/python3.10/site-packages (from openai) (3.8.4)
Requirement already satisfied: tqdm in /home/distill1994/.local/lib/python3.10/site-packages (from openai) (4.65.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: frozenlist>=1.1.1 in /home/distill1994/.local/lib/python3.10/site-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /home/distill1994/.local/lib/python3.10/site-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /home/distill1994/.local/lib/python3.10/site-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/distill1994/.local/lib/python3.10/site-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /home/distill1994/.local/lib/python3.10/site-packages (from aiohttp->openai) (1.9.2)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import getpass

openai_api_key = getpass.getpass("OpenAI API key: ")

OpenAI API key:  ········

In [17]:
import openai

openai.api_key = openai_api_key

In [20]:
import os
import csv

# Function to get already processed names
def get_processed_names(file):
    if os.path.exists(file):
        with open(file, 'r') as f:
            reader = csv.DictReader(f)
            return {row['Name'] for row in reader}
    else:
        return set()

In [21]:
# Get already processed names
processed_names = get_processed_names('name_variations.csv')

In [22]:
len(processed_names)

9548

In [ ]:
import csv
import time

# Function to divide names into chunks
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

        
with open('name_variations.csv', 'a', newline='') as csvfile:
    fieldnames = ['Name', 'Alternate 1', 'Alternate 2', 'Alternate 3', 'Alternate 4', 'Alternate 5']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    # If file is empty write the header
    if csvfile.tell() == 0:
        writer.writeheader()     
        
    c = 0
    # Iterate over names in chunks
    for chunk in chunks(list(last_name_values), 15):
        # Skip names that have been processed
        chunk = [name for name in chunk if name not in processed_names]
        if not chunk:
            continue
        
        # Form the prompt
        # print(chunk)
        prompt = "give me 5 most common alternate spellings of the last names, format as csv - "
        names = ",".join([f" {name.lower()}" for name in chunk])
        prompt = prompt + names
        # print(prompt)

        messages = [{"role": "user", "content": prompt}]
        
        while True:
            try:
                # Make the API call
                response = openai.ChatCompletion.create(
                  model="gpt-3.5-turbo",
                  messages=messages,
                  temperature=0# adjust depending on the number of variations and length of names
                )
            except:
                print("Rate limit exceeded. Sleeping for a minute.")
                time.sleep(60)  # Sleep for a minute and then retry
                continue

            break  # If no errors, break the loop

        # print(response)
        # Process the result
        results = response.choices[0].message.content.strip().split('\n')
        # print(results)

        for name, result in zip(chunk, results):
            alternates = result.split(',')
            #print(f"{name}: {alternates}")
            # Write the name and alternates to the CSV file
            writer.writerow({
                'Name': name,
                'Alternate 1': alternates[0].strip() if len(alternates) > 0 else '',
                'Alternate 2': alternates[1].strip() if len(alternates) > 1 else '',
                'Alternate 3': alternates[2].strip() if len(alternates) > 2 else '',
                'Alternate 4': alternates[3].strip() if len(alternates) > 3 else '',
                'Alternate 5': alternates[4].strip() if len(alternates) > 4 else '',
            })

print("done")

Rate limit exceeded. Sleeping for a minute.
Rate limit exceeded. Sleeping for a minute.
Rate limit exceeded. Sleeping for a minute.
Rate limit exceeded. Sleeping for a minute.
Rate limit exceeded. Sleeping for a minute.
Rate limit exceeded. Sleeping for a minute.
Rate limit exceeded. Sleeping for a minute.
Rate limit exceeded. Sleeping for a minute.
Rate limit exceeded. Sleeping for a minute.

In [24]:
result_df = pd.read_csv("name_variations.csv")

In [25]:
result_df.shape

(22215, 6)

In [26]:
result_df.sample(n=10)

            Name Alternate 1 Alternate 2 Alternate 3 Alternate 4 Alternate 5
18911      Ertle       ertle       ertel       ertal       ertol       ertul
14751    Pasteur     pasteur     Pasteur      Pastor     Pastore   Pastorius
3312       Fusco       fusco        fusk        fusc       fusko      fuscus
13144  Lambrecht   lambrecht    lambreht   lambright    lambrect     lambret
19      Thompson     thomson    thompsen    thompsin    thompsan    thompsun
215        Velez       velez      Velezz       Veles      Velesz     Veleszz
1053       Akins       Akins       Akens       Akyns       Akinn      Akines
14757   Althouse    althouse    Althouse     Althaus   Althausen     Althous
18645      Lucey       lucey        lucy       lucie        luci      luccey
12166    Ruzicka     ruzicka      ruzika    ruzickah    ruzickaa      ruzick

In [27]:
result_df.shape

(22215, 6)

## Creating dataset with generated content

In [28]:
df.head()

,name_last,asian,hispanic,nh_black,nh_white,other,total_n,race,race_code
0,Neaman-Piotrowicz,0.0,0.0,0.0,1.000000,0.000000,1.0,nh_white,3
1,Chaet,0.0,0.0,0.0,1.000000,0.000000,13.0,nh_white,3
2,Veloz Perez,0.0,1.0,0.0,0.000000,0.000000,1.0,hispanic,1
3,Spalter,0.0,0.0,0.0,0.928571,0.071429,42.0,nh_white,3
4,Kearns-Edwards,0.0,0.0,0.0,1.000000,0.000000,1.0,nh_white,3

In [41]:
len(df[df['name_last'] == "ad"]['total_n'])

0

In [ ]:
names = []
race = []
race_codes = []
alt_cols = list(result_df.columns[1:])

def process(x):
    if len(df[df['name_last'] == x.Name]['total_n']):
        match = df.loc[df[df['name_last'] == x.Name]['total_n'].idxmax()]
        rc = match['race']
        rcc = match['race_code']
        for c in alt_cols:
            if x[c]:
                names.append(x[c])
                race.append(rc)
                race_codes.append(rcc)

    
result_df.apply(lambda x: process(x), axis=1)

In [49]:
print(len(names))
print(len(race))
print(len(names))

101660
101660
101660

In [50]:
gen_names = pd.DataFrame({'name_last': names, 'race': race, 'race_code': race_codes})

In [51]:
gen_names.sample(n=10)

                   name_last      race  race_code
85192                  roste  nh_white          3
80403           rivera otero  hispanic          1
99096              bassforde  nh_white          3
26611                neubaur  nh_white          3
99093                gregowe  nh_white          3
1333                   levey  nh_white          3
46137              garretsen  nh_white          3
55924            kirschenbom  nh_white          3
16911                   Harm  nh_white          3
96698  hamontreee;hammontree  nh_white          3

In [52]:
gen_names['name_last'] = gen_names['name_last'].str.title()
gen_names['name_last'] = gen_names['name_last'].str.replace("[^a-zA-Z' -]", '', regex=True)

In [53]:
gen_names.dropna(inplace=True)
gen_names.reset_index(inplace=True)

In [54]:
gen_names.head()

   index  name_last      race  race_code
0      0   Williams  nh_black          2
1      1   Willaims  nh_black          2
2      2   Williems  nh_black          2
3      3  Williames  nh_black          2
4      4  Williamms  nh_black          2

In [55]:
gen_names.to_csv("name_variations_with_race.csv", index=False)

In [57]:
final_df = pd.concat([df[['name_last','race','race_code']], gen_names[['name_last','race','race_code']]])

In [58]:
final_df.head()

           name_last      race  race_code
0  Neaman-Piotrowicz  nh_white          3
1              Chaet  nh_white          3
2        Veloz Perez  hispanic          1
3            Spalter  nh_white          3
4     Kearns-Edwards  nh_white          3

In [59]:
gen_names.shape

(100710, 4)

In [60]:
final_df.shape

(946026, 3)

In [61]:
final_df.to_csv("fl_2022_LastName_train_with_gen.csv", index=False)

In [62]:
!du -sh *.csv

20M	fl_2022_LastName_train_with_gen.csv
164K	last_names.csv
1.1M	name_variations.csv
2.4M	name_variations_with_race.csv