# Contrib data from Standford DIME

## Downloading the contribuation list from Stanford DIME
https://data.stanford.edu/dime

In [3]:
import gdown

# downloading the contribDB_2014.csv of size 10GB
# https://drive.google.com/file/d/0B5SFXStyeVhrb1JnaVYzT2p6WWM/view?usp=drive_link&resourcekey=0-WEXQFkUpA46AEUev_ucR7w

url = 'https://drive.google.com/uc?id=0B5SFXStyeVhrb1JnaVYzT2p6WWM'
output = 'contribDB_2014.csv'
gdown.download(url, output, quiet=False)

Downloading...
From (uriginal): https://drive.google.com/uc?id=0B5SFXStyeVhrb1JnaVYzT2p6WWM
From (redirected): https://drive.google.com/uc?id=0B5SFXStyeVhrb1JnaVYzT2p6WWM&confirm=t&uuid=ea39d9a7-d0c7-4ad9-96f4-19fa6fce79fb
To: /home/distill1994/ethnicolor/data/dime/contribDB_2014.csv
100%|██████████| 10.7G/10.7G [15:47<00:00, 11.3MB/s]

'contribDB_2014.csv'

In [4]:
# peaking first 10 rows
!head -10 contribDB_2014.csv

"cycle","transaction.id","transaction.type","amount","date","bonica.cid","contributor.name","contributor.lname","contributor.fname","contributor.mname","contributor.suffix","contributor.title","contributor.ffname","contributor.type","contributor.gender","contributor.address","contributor.city","contributor.state","contributor.zipcode","contributor.occupation","contributor.employer","is.corp","recipient.name","bonica.rid","recipient.party","recipient.type","recipient.state","seat","election.type","latitude","longitude","gis.confidence","contributor.district.90s","contributor.district.00s","contributor.district.10s","censustract","efec.memo","efec.memo2","efec.transaction.id.orig","bk.ref.transaction.id","efec.org.orig","efec.comid.orig","efec.form.type","excluded.from.scaling","contributor.cfscore","candidate.cfscore"
2014,"CA:1424021_INC634_2014_1_","15",1789.15,"2013-11-19",3836518376,"state of california","","","","","","","C","","","sacramento","ca",95814,"","","","yes on prop 93, a coalition of business, labor, teachers, lawmakers, public safety and assemblymembers de leon, nunez, b","comm9995154","NA","COMM","CA","state:ballot","",38.580173,-121.506897,0.688,"CA05","CA05","CA06","06067000700","",,"INC634","","","","I",1,-0.36,-0.87
2014,"CA:1436949_INC342_2014_0_","15",408.26,"2009-01-07",32780584235,"golden state business bank","","","","","","","C","","","upland","ca",91786,"","","corp","brulte, jim","cand27195","200","CAND","CA","state:office","",34.105282,-117.662033,1,"CA41","CA26","CA31","06071000824","",,"INC342","","","","I",1,0.05,0.03
2014,"CA:1436949_INC343_2014_0_","15",842.06,"2009-01-12",32780584235,"golden state business bank","","","","","","","C","","","upland","ca",91786,"","","corp","brulte, jim","cand27195","200","CAND","CA","state:office","",34.105282,-117.662033,1,"CA41","CA26","CA31","06071000824","",,"INC343","","","","I",1,0.05,0.03
2014,"CA:1436949_INC352_2014_0_","15",230.53,"2009-01-21",3839554438,"arrowhead credit union","","","","","","","C","","","san bernardino","ca",92402,"","","","brulte, jim","cand27195","200","CAND","CA","state:office","",34.06741,-117.283325,0.805,"CA42","CA41","CA31","06071012400","",,"INC352","","","","I",1,-0.05,0.03
2014,"CA:1436949_INC356_2014_0_","15",409.44,"2009-02-07",32780584235,"golden state business bank","","","","","","","C","","","upland","ca",91786,"","","corp","brulte, jim","cand27195","200","CAND","CA","state:office","",34.105282,-117.662033,1,"CA41","CA26","CA31","06071000824","",,"INC356","","","","I",1,0.05,0.03
2014,"CA:1436949_INC358_2014_0_","15",141.75,"2009-01-31",3839554438,"arrowhead credit union","","","","","","","C","","","san bernardino","ca",92402,"","","","brulte, jim","cand27195","200","CAND","CA","state:office","",34.06741,-117.283325,0.805,"CA42","CA41","CA31","06071012400","",,"INC358","","","","I",1,-0.05,0.03
2014,"CA:1436949_INC360_2014_0_","15",2.17,"2009-01-31",3839554438,"arrowhead credit union","","","","","","","C","","","san bernardino","ca",92402,"","","","brulte, jim","cand27195","200","CAND","CA","state:office","",34.06741,-117.283325,0.805,"CA42","CA41","CA31","06071012400","",,"INC360","","","","I",1,-0.05,0.03
2014,"CA:1436949_INC362_2014_0_","15",208.7,"2009-02-26",3839554438,"arrowhead credit union","","","","","","","C","","","san bernardino","ca",92402,"","","","brulte, jim","cand27195","200","CAND","CA","state:office","",34.06741,-117.283325,0.805,"CA42","CA41","CA31","06071012400","",,"INC362","","","","I",1,-0.05,0.03
2014,"CA:1436949_INC373_2014_0_","15",370.83,"2009-03-07",32780584235,"golden state business bank","","","","","","","C","","","upland","ca",91786,"","","corp","brulte, jim","cand27195","200","CAND","CA","state:office","",34.105282,-117.662033,1,"CA41","CA26","CA31","06071000824","",,"INC373","","","","I",1,0.05,0.03

In [31]:
import pandas as pd

In [2]:
# take a small chunk, to peak data
!head -1000 data/dime/contribDB_2014.csv > data/dime/contribDB_2014_min.csv

In [5]:
df = pd.read_csv('data/dime/contribDB_2014_min.csv', engine='python')

In [6]:
df.head()

,cycle,transaction.id,transaction.type,amount,date,bonica.cid,contributor.name,contributor.lname,contributor.fname,contributor.mname,...,efec.memo,efec.memo2,efec.transaction.id.orig,bk.ref.transaction.id,efec.org.orig,efec.comid.orig,efec.form.type,excluded.from.scaling,contributor.cfscore,candidate.cfscore
0,2014,CA:1424021_INC634_2014_1_,15,1789.15,2013-11-19,3836518376,state of california,NaN,NaN,NaN,...,NaN,NaN,INC634,NaN,NaN,NaN,I,1.0,-0.36,-0.87
1,2014,CA:1436949_INC342_2014_0_,15,408.26,2009-01-07,32780584235,golden state business bank,NaN,NaN,NaN,...,NaN,NaN,INC342,NaN,NaN,NaN,I,1.0,0.05,0.03
2,2014,CA:1436949_INC343_2014_0_,15,842.06,2009-01-12,32780584235,golden state business bank,NaN,NaN,NaN,...,NaN,NaN,INC343,NaN,NaN,NaN,I,1.0,0.05,0.03
3,2014,CA:1436949_INC352_2014_0_,15,230.53,2009-01-21,3839554438,arrowhead credit union,NaN,NaN,NaN,...,NaN,NaN,INC352,NaN,NaN,NaN,I,1.0,-0.05,0.03
4,2014,CA:1436949_INC356_2014_0_,15,409.44,2009-02-07,32780584235,golden state business bank,NaN,NaN,NaN,...,NaN,NaN,INC356,NaN,NaN,NaN,I,1.0,0.05,0.03

In [7]:
df.columns

Index(['cycle', 'transaction.id', 'transaction.type', 'amount', 'date',
       'bonica.cid', 'contributor.name', 'contributor.lname',
       'contributor.fname', 'contributor.mname', 'contributor.suffix',
       'contributor.title', 'contributor.ffname', 'contributor.type',
       'contributor.gender', 'contributor.address', 'contributor.city',
       'contributor.state', 'contributor.zipcode', 'contributor.occupation',
       'contributor.employer', 'is.corp', 'recipient.name', 'bonica.rid',
       'recipient.party', 'recipient.type', 'recipient.state', 'seat',
       'election.type', 'latitude', 'longitude', 'gis.confidence',
       'contributor.district.90s', 'contributor.district.00s',
       'contributor.district.10s', 'censustract', 'efec.memo', 'efec.memo2',
       'efec.transaction.id.orig', 'bk.ref.transaction.id', 'efec.org.orig',
       'efec.comid.orig', 'efec.form.type', 'excluded.from.scaling',
       'contributor.cfscore', 'candidate.cfscore'],
      dtype='object')

## Dropping rest of the columns to reduce dataset size

In [5]:
!du -sh data/dime/contribDB_2014.csv

10G	data/dime/contribDB_2014.csv

In [35]:
# get only first name and last names
!awk -F, '{print $8","$9}' data/dime/contribDB_2014.csv > data/dime/contribDB_2014_names.csv

In [30]:
!du -sh data/dime/contribDB_2014_names.csv

397M	data/dime/contribDB_2014_names.csv

In [33]:
!wc -l data/dime/contribDB_2014_names.csv

23161961 data/dime/contribDB_2014_names.csv

In [36]:
!head -10 data/dime/contribDB_2014_names.csv

"contributor.lname","contributor.fname"
"",""
"",""
"",""
"",""
"",""
"",""
"",""
"",""
"",""

In [40]:
!sed -i 's/"//g' data/dime/contribDB_2014_names.csv

In [41]:
!head -10 data/dime/contribDB_2014_names.csv

contributor.lname,contributor.fname
,
,
,
,
,
,
,
,
,

In [42]:
df = pd.read_csv('data/dime/contribDB_2014_names.csv', engine='python')

In [44]:
df.shape

(23161960, 2)

In [46]:
df = df.dropna()

In [47]:
df.shape

(21342463, 2)

In [48]:
df.head()

                contributor.lname contributor.fname
42   county & municipal employees    local 2620 pac
47              phelps & phillips               llp
67                     janet gray             hayes
74                       thomas m            dailey
77                       margaret          giberson

In [54]:
df = df.drop(df[df['contributor.lname'].str.contains("&|employee|\d",regex=True)].index)

In [55]:
df.head()

   contributor.lname contributor.fname
67        janet gray             hayes
74          thomas m            dailey
77          margaret          giberson
78         gregory f            hooper
79   william spencer             lewis

In [57]:
df['contributor.lname'] = df['contributor.lname'].str.title()
df['contributor.fname'] = df['contributor.fname'].str.title()

In [58]:
df.head()

   contributor.lname contributor.fname
67        Janet Gray             Hayes
74          Thomas M            Dailey
77          Margaret          Giberson
78         Gregory F            Hooper
79   William Spencer             Lewis

In [59]:
df.shape

(21325576, 2)

In [60]:
df.to_csv("data/dime/contribDB_2014_final.csv", index=False)