In [ ]:
from tabulate import tabulate

classification_report = """
"""

# Split the classification report into rows
rows = [row.split() for row in classification_report.strip().split('\n')[2:]]

# Convert the rows to a LaTeX table
table = tabulate(rows, headers=['', 'precision', 'recall', 'f1-score', 'support'], tablefmt='latex')

# Print the LaTeX table
print(table)

In [ ]:
from sklearn.metrics import classification_report
from tabulate import tabulate

# Example true labels and predicted labels
y_true = [1, 2, 2, 1, 3]
y_pred = [1, 2, 3, 1, 2]

# Generate the classification report
report = classification_report(y_true, y_pred, output_dict=True)

# Convert the report to a list of lists
table_data = []
for label, metrics in report.items():
    if label != 'accuracy' and label != 'macro avg' and label != 'weighted avg':
        row = [label] + [metrics[key] for key in metrics.keys() if key != 'support']
        table_data.append(row)

# Add the accuracy row separately
accuracy_row = ['accuracy'] + [''] * (len(table_data[0]) - 1) + [report['accuracy']]

# Combine the table data and accuracy row
table_data.append(accuracy_row)

# Convert the table data to a LaTeX table
latex_table = tabulate(table_data, headers=['', 'precision', 'recall', 'f1-score', 'support'], tablefmt='latex')

# Print the LaTeX table
print(latex_table)

In [15]:
import pandas as pd
fn = pd.read_csv("../tabs/full_name_perf.csv")
fn.rename(columns={"Unnamed: 0": ""}, inplace = True)
fn

               RF    GB  LSTM  Transformer  KNN        N
0   Overall  0.72  0.65  0.81         0.66  NaN  959,848
1  NH White  0.94  0.98  0.90         0.94  NaN  573,470
2  NH Black  0.25  0.01  0.68         0.03  NaN  149,299
3  Hispanic  0.66  0.37  0.83         0.50  NaN  169,058
4     Asian  0.17  0.04  0.56         0.08  NaN   27,829
5     Other  0.02  0.00  0.07         0.00  NaN   40,192

In [16]:
fn_style = fn.style\
          .format(subset=["RF", "GB", "LSTM", "Transformer", "KNN"], precision=2)\
          .format_index(escape="latex", axis=1)\
          .format_index(escape="latex", axis=0)\
          .hide(level=0, axis=0)
fn_tex = fn_style.to_latex(caption = "OOS Performance of Various Full Name Models.",
#                               clines="skip-last;data",
                               convert_css=True,
                               label = "table:oos_full_name_perf",
                               position_float="centering",
                               multicol_align="|c|",
                               hrules=True)

In [17]:
with open("../tabs/fn_perf.tex", "w") as f:
    f.write(fn_tex)

In [18]:
ln = pd.read_csv("../tabs/last_name_perf.csv")
ln.rename(columns={"Unnamed: 0": ""}, inplace = True)
ln

               RF    GB  LSTM  Transformer  KNN        N
0   Overall  0.55  0.60  0.65         0.60  NaN  134,898
1  NH White  0.70  0.90  0.86         0.90  NaN   60,970
2  NH Black  0.19  0.20  0.40         0.07  NaN   13,726
3  Hispanic  0.66  0.65  0.69         0.66  NaN   38,961
4     Asian  0.50  0.00  0.18         0.00  NaN    6,867
5     Other  0.17  0.00  0.08         0.00  NaN   14,374

In [19]:
ln_style = ln.style\
          .format(subset=["RF", "GB", "LSTM", "Transformer", "KNN"], precision=2)\
          .format_index(escape="latex", axis=1)\
          .format_index(escape="latex", axis=0)\
          .hide(level=0, axis=0)
ln_tex = ln_style.to_latex(caption = "OOS Performance of Various Last Name Models.",
#                               clines="skip-last;data",
                               convert_css=True,
                               label = "table:oos_last_name_perf",
                               position_float="centering",
                               multicol_align="|c|",
                               hrules=True)

In [20]:
with open("../tabs/ln_perf.tex", "w") as f:
    f.write(ln_tex)