In [1]:
import numpy as np
import pandas as pd
import joblib

from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics

In [2]:
df = pd.read_csv('./data/fl_reg_name_race_2022.csv.gz')

In [3]:
df.head()

       name_last name_first      race
0  Hessler-Smith      Jason  nh_white
1         Rogers      Renee  nh_white
2      Bartolome    Crystal  nh_white
3         Bailey      Donna  nh_white
4        Carlson   Greggory  nh_white

In [4]:
df.describe()

       name_last name_first      race
count   15454992   15455022  15455110
unique   1341195     641103         8
top        Smith    Michael  nh_white
freq       79362     153753   9446851

In [5]:
df['race'].unique()

array(['nh_white', 'nh_black', 'other', 'hispanic', 'asian',
       'native_indian', 'unknown', 'multi_racial'], dtype=object)

## Drop none values

In [6]:
df.dropna(subset=['name_first', 'name_last'], inplace=True)

In [7]:
df.describe()

       name_last name_first      race
count   15454908   15454908  15454908
unique   1341176     641095         8
top        Smith    Michael  nh_white
freq       79362     153753   9446749

## drop last name and first name of length 1

In [8]:
df = df.drop(df[df['name_last'].str.len() < 2].index)

In [9]:
df = df.drop(df[df['name_first'].str.len() < 2].index)

In [10]:
df.describe()

       name_last name_first      race
count   15366690   15366690  15366690
unique   1340617     641055         8
top        Smith    Michael  nh_white
freq       79297     153752   9383680

## Remove special characters

In [11]:
df['full_name'] = df['name_last'] + ' ' + df['name_first']

In [12]:
df.head()

       name_last name_first      race            full_name
0  Hessler-Smith      Jason  nh_white  Hessler-Smith Jason
1         Rogers      Renee  nh_white         Rogers Renee
2      Bartolome    Crystal  nh_white    Bartolome Crystal
3         Bailey      Donna  nh_white         Bailey Donna
4        Carlson   Greggory  nh_white     Carlson Greggory

In [13]:
df['full_name'] = df['full_name'].str.replace('[^a-zA-Z ]', '', regex=True)

In [14]:
df.head()

       name_last name_first      race           full_name
0  Hessler-Smith      Jason  nh_white  HesslerSmith Jason
1         Rogers      Renee  nh_white        Rogers Renee
2      Bartolome    Crystal  nh_white   Bartolome Crystal
3         Bailey      Donna  nh_white        Bailey Donna
4        Carlson   Greggory  nh_white    Carlson Greggory

## drop duplicates

In [15]:
df[df[['full_name','race']].duplicated()]

           name_last name_first      race          full_name
837            Moser   Patricia  nh_white     Moser Patricia
928          Johnson    Tiffany  nh_black    Johnson Tiffany
1247           Perry    Charles  nh_white      Perry Charles
2120         Johnson     Ashley  nh_black     Johnson Ashley
2285         Johnson    Clayton  nh_white    Johnson Clayton
...              ...        ...       ...                ...
15455101       Jones   Margaret  nh_white     Jones Margaret
15455102     Hartley    Brandon  nh_white    Hartley Brandon
15455104  Ballentine     Robert  nh_white  Ballentine Robert
15455106       Watts       Mark  nh_white         Watts Mark
15455108        Ward  Stephanie  nh_white     Ward Stephanie

[4557669 rows x 4 columns]

In [16]:
df[df['full_name'] == "Porter Paula"]

         name_last name_first      race     full_name
136         Porter      Paula  nh_white  Porter Paula
550         Porter      Paula  nh_black  Porter Paula
1527456     Porter      Paula  nh_white  Porter Paula
7563599     Porter      Paula  nh_white  Porter Paula
7631191     Porter      Paula  nh_white  Porter Paula
8383292     Porter      Paula  nh_white  Porter Paula
10682106    Porter      Paula  nh_white  Porter Paula

In [17]:
df = df.drop_duplicates(['full_name','race'],keep= 'last')

In [18]:
df[df['full_name'] == "Porter Paula"]

         name_last name_first      race     full_name
550         Porter      Paula  nh_black  Porter Paula
10682106    Porter      Paula  nh_white  Porter Paula

In [19]:
df.shape

(10809021, 4)

## Extract features

In [20]:
vectorizer = CountVectorizer(analyzer='char', ngram_range=(1, 2), lowercase=False)

In [21]:
X = vectorizer.fit_transform(df['full_name'])

In [22]:
X[:10].toarray()

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [23]:
vectorizer.get_feature_names_out()

array([' ', ' A', ' B', ..., 'zx', 'zy', 'zz'], dtype=object)

In [24]:
len(vectorizer.get_feature_names_out())

2767

In [25]:
vocab = vectorizer.get_feature_names_out()

In [26]:
set(df.race.factorize()[0])

{0, 1, 2, 3, 4, 5, 6, 7}

In [27]:
df['race_code'] = df.race.factorize()[0]

In [28]:
df.head()

       name_last name_first      race           full_name  race_code
0  Hessler-Smith      Jason  nh_white  HesslerSmith Jason          0
2      Bartolome    Crystal  nh_white   Bartolome Crystal          0
4        Carlson   Greggory  nh_white    Carlson Greggory          0
5       McDowell    Terrica  nh_black    McDowell Terrica          1
6          Luong        Lin     other           Luong Lin          2

In [29]:
df[['race', 'race_code']].drop_duplicates().sort_values('race_code')

              race  race_code
0         nh_white          0
5         nh_black          1
6            other          2
22        hispanic          3
32           asian          4
66   native_indian          5
158   multi_racial          6
610        unknown          7

In [30]:
race_id_df = df[['race', 'race_code']].drop_duplicates().sort_values('race_code')
race_to_id = dict(race_id_df.values)

In [31]:
race_to_id

{'nh_white': 0,
 'nh_black': 1,
 'other': 2,
 'hispanic': 3,
 'asian': 4,
 'native_indian': 5,
 'multi_racial': 6,
 'unknown': 7}

In [32]:
id_to_race = dict(race_id_df[['race_code', 'race']].values)

In [33]:
id_to_race

{0: 'nh_white',
 1: 'nh_black',
 2: 'other',
 3: 'hispanic',
 4: 'asian',
 5: 'native_indian',
 6: 'multi_racial',
 7: 'unknown'}

In [34]:
y = df.race_code

In [35]:
y[0]

0

In [36]:
X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [37]:
#Create a Gaussian Classifier
clf = GradientBoostingClassifier(random_state=42, verbose=6)

In [38]:
print(X_train.shape)
print(X_test.shape)

(8647216, 2767)
(2161805, 2767)

## Training

## Doing it for 1 million with 100 iterations

In [42]:
%%time
#Train the model using the training sets y_pred=clf.predict(X_test)

# 1 million
samples = 100 * 100 * 100
# 1 million records took 2h 10min 13s
# 8 million records will take ~17 hours

clf.fit(X_train[:samples], y_train[:samples])

      Iter       Train Loss   Remaining Time
         1           1.2455          111.68m
         2           1.2283          108.63m
         3           1.2148          106.66m
         4           1.2043          105.27m
         5           1.1939          104.14m
         6           1.1868          101.46m
         7           1.1794           99.75m
         8           1.1738           98.51m
         9           1.1684           97.25m
        10           1.1636           96.15m
        11           1.1589           95.10m
        12           1.1544           94.63m
        13           1.1504           93.49m
        14           1.1466           92.30m
        15           1.1428           91.15m
        16           1.1397           89.91m
        17           1.1369           88.80m
        18           1.1340           87.68m
        19           1.1315           86.45m
        20           1.1285           85.31m
        21           1.1262           84.17m
        22           1.1235           83.06m
        23           1.1211           81.96m
        24           1.1191           80.78m
        25           1.1167           79.73m
        26           1.1147           78.73m
        27           1.1130           77.79m
        28           1.1111           76.76m
        29           1.1095           75.78m
        30           1.1074           74.83m
        31           1.1058           73.84m
        32           1.1043           72.79m
        33           1.1025           71.85m
        34           1.1009           70.87m
        35           1.0995           69.85m
        36           1.0981           68.83m
        37           1.0969           67.80m
        38           1.0956           66.78m
        39           1.0941           65.79m
        40           1.0927           64.73m
        41           1.0917           63.70m
        42           1.0904           62.61m
        43           1.0891           61.51m
        44           1.0882           60.46m
        45           1.0869           59.42m
        46           1.0858           58.40m
        47           1.0847           57.34m
        48           1.0837           56.28m
        49           1.0828           55.20m
        50           1.0817           54.16m
        51           1.0807           53.10m
        52           1.0797           51.99m
        53           1.0789           50.91m
        54           1.0778           49.84m
        55           1.0769           48.76m
        56           1.0759           47.68m
        57           1.0751           46.58m
        58           1.0743           45.50m
        59           1.0735           44.41m
        60           1.0726           43.35m
        61           1.0717           42.26m
        62           1.0708           41.19m
        63           1.0699           40.10m
        64           1.0693           39.01m
        65           1.0686           37.91m
        66           1.0678           36.84m
        67           1.0671           35.76m
        68           1.0665           34.69m
        69           1.0657           33.62m
        70           1.0650           32.53m
        71           1.0643           31.45m
        72           1.0635           30.37m
        73           1.0629           29.30m
        74           1.0622           28.23m
        75           1.0616           27.15m
        76           1.0609           26.08m
        77           1.0602           24.99m
        78           1.0596           23.89m
        79           1.0590           22.79m
        80           1.0584           21.70m
        81           1.0579           20.62m
        82           1.0572           19.53m
        83           1.0566           18.45m
        84           1.0560           17.37m
        85           1.0555           16.29m
        86           1.0549           15.20m
        87           1.0544           14.12m
        88           1.0538           13.03m
        89           1.0532           11.95m
        90           1.0526           10.86m
        91           1.0521            9.78m
        92           1.0514            8.69m
        93           1.0508            7.61m
        94           1.0506            6.52m
        95           1.0500            5.44m
        96           1.0496            4.35m
        97           1.0491            3.26m
        98           1.0487            2.17m
        99           1.0481            1.09m
       100           1.0476            0.00s
CPU times: user 1h 46min 47s, sys: 1min 55s, total: 1h 48min 43s
Wall time: 1h 48min 49s

GradientBoostingClassifier(random_state=42, verbose=6)

In [43]:
%%time
y_pred = clf.predict(X_test)
# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.655368546191724
CPU times: user 48.2 s, sys: 2.62 s, total: 50.8 s
Wall time: 58.4 s

In [44]:
joblib.dump(vectorizer, "fl_voter_name_gb_vect_1M.joblib", compress=3)  # compression is ON!

['fl_voter_name_gb_vect_1M.joblib']

In [45]:
joblib.dump(clf, "fl_voter_name_gb_model_1M.joblib", compress=3)  # compression is ON!

['fl_voter_name_gb_model_1M.joblib']

## Doing it for 2 million with 100 iterations

In [46]:
%%time
#Train the model using the training sets y_pred=clf.predict(X_test)
clf = GradientBoostingClassifier(random_state=42, verbose=6)

# 2 million
samples = 2 * 100 * 100 * 100
# 1 million records took 2h 10min 13s
# 2 million records took 3h 50 mins
# 8 million records will take ~17 hours

clf.fit(X_train[:samples], y_train[:samples])

      Iter       Train Loss   Remaining Time
         1           1.2455          259.82m
         2           1.2282          255.67m
         3           1.2151          252.34m
         4           1.2045          248.67m
         5           1.1946          244.61m
         6           1.1873          241.55m
         7           1.1800          239.23m
         8           1.1741          236.18m
         9           1.1685          233.78m
        10           1.1638          230.52m
        11           1.1592          227.62m
        12           1.1545          224.47m
        13           1.1507          221.92m
        14           1.1468          218.90m
        15           1.1433          216.33m
        16           1.1399          213.68m
        17           1.1368          210.78m
        18           1.1338          207.60m
        19           1.1313          204.49m
        20           1.1288          200.83m
        21           1.1260          197.54m
        22           1.1238          194.50m
        23           1.1218          191.33m
        24           1.1193          188.26m
        25           1.1173          185.18m
        26           1.1154          182.19m
        27           1.1136          179.32m
        28           1.1118          176.57m
        29           1.1096          173.83m
        30           1.1078          171.21m
        31           1.1063          168.38m
        32           1.1050          165.72m
        33           1.1035          162.93m
        34           1.1018          160.17m
        35           1.1000          157.61m
        36           1.0985          154.98m
        37           1.0972          152.45m
        38           1.0959          149.92m
        39           1.0947          147.68m
        40           1.0933          145.38m
        41           1.0919          143.11m
        42           1.0907          140.81m
        43           1.0895          138.52m
        44           1.0885          136.11m
        45           1.0873          133.70m
        46           1.0864          131.17m
        47           1.0852          128.68m
        48           1.0841          126.28m
        49           1.0830          123.80m
        50           1.0823          121.27m
        51           1.0814          118.80m
        52           1.0805          116.30m
        53           1.0797          113.79m
        54           1.0790          111.26m
        55           1.0781          108.78m
        56           1.0772          106.26m
        57           1.0763          103.88m
        58           1.0756          101.41m
        59           1.0747           98.97m
        60           1.0738           96.56m
        61           1.0730           94.21m
        62           1.0721           91.78m
        63           1.0715           89.31m
        64           1.0708           86.89m
        65           1.0701           84.45m
        66           1.0692           82.09m
        67           1.0685           79.69m
        68           1.0678           77.32m
        69           1.0671           74.87m
        70           1.0663           72.43m
        71           1.0656           69.97m
        72           1.0650           67.52m
        73           1.0643           65.10m
        74           1.0637           62.66m
        75           1.0631           60.21m
        76           1.0624           57.78m
        77           1.0618           55.38m
        78           1.0614           52.98m
        79           1.0608           50.55m
        80           1.0602           48.12m
        81           1.0596           45.68m
        82           1.0591           43.26m
        83           1.0585           40.86m
        84           1.0579           38.44m
        85           1.0574           36.04m
        86           1.0568           33.64m
        87           1.0562           31.23m
        88           1.0557           28.83m
        89           1.0552           26.43m
        90           1.0546           24.02m
        91           1.0540           21.62m
        92           1.0536           19.22m
        93           1.0530           16.81m
        94           1.0526           14.41m
        95           1.0521           12.01m
        96           1.0515            9.61m
        97           1.0511            7.21m
        98           1.0507            4.80m
        99           1.0502            2.40m
       100           1.0497            0.00s
CPU times: user 3h 51min 20s, sys: 9min 5s, total: 4h 25s
Wall time: 4h 47s

GradientBoostingClassifier(random_state=42, verbose=6)

In [47]:
%%time
y_pred = clf.predict(X_test)
# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6553865866717858
CPU times: user 37.3 s, sys: 3.64 s, total: 40.9 s
Wall time: 47.8 s

In [48]:
joblib.dump(vectorizer, "fl_voter_name_gb_vect_2M.joblib", compress=3)  # compression is ON!

['fl_voter_name_gb_vect_2M.joblib']

In [49]:
joblib.dump(clf, "fl_voter_name_gb_model_2M.joblib", compress=3)  # compression is ON!

['fl_voter_name_gb_model_2M.joblib']

# Now lets do for the whole train dataset with 20 iterations

In [ ]:
%%time

clf = GradientBoostingClassifier(n_estimators=20, random_state=42, verbose=6)
clf.fit(X_train, y_train)

      Iter       Train Loss   Remaining Time
         1           1.2454          279.97m
         2           1.2283          260.36m
         3           1.2153          243.58m
         4           1.2045          229.15m
         5           1.1947          214.38m
         6           1.1872          200.97m
         7           1.1801          186.81m
         8           1.1743          172.44m
         9           1.1685          157.57m
        10           1.1641          143.10m
        11           1.1594          128.65m
        12           1.1549          113.91m
        13           1.1509           99.47m
        14           1.1471           85.01m
        15           1.1441           70.49m
        16           1.1410           56.24m
        17           1.1377           42.09m
        18           1.1348           27.98m
        19           1.1322           13.97m

In [ ]:
%%time
y_pred = clf.predict(X_test)
# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

In [ ]:
joblib.dump(vectorizer, "fl_voter_name_gb_vect.joblib", compress=3)  # compression is ON!

In [ ]:
joblib.dump(clf, "fl_voter_name_gb_model.joblib", compress=3)  # compression is ON!

In [ ]:
!~/pushover "ethnicolor job is done" 1 whistle